html {
    background-color: #CCF;
    color: #225;
    font-family: Verdana, sans-serif;
}

.title {
    font-size: 2em;
    text-shadow: 3px 2px 5px #77A;
    text-align: center;
}

p {
    display: inline-block;
    margin-top: 0;
    padding-left: 2em;
    vertical-align: top;
    max-width: 18em;
    text-align: justify;
}